<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>GetUnityComponent</Title>
            <Shortcut>gc</Shortcut>
            <Description>Code snippet for GetComponent in Unity</Description>
            <Author>OpenAI</Author>
            <SnippetTypes>
                <SnippetType>Expansion</SnippetType>
            </SnippetTypes>
        </Header>
        <Snippet>
            <Declarations>
                <Literal>
                    <ID>type</ID>
                    <ToolTip>Replace with the Component type you want to get</ToolTip>
                    <Default>Component</Default>
                </Literal>
            </Declarations>
            <Code Language="csharp">
                <![CDATA[GetComponent<$type$>();]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>
